.page {
  @include container;

  display: flex;
  flex-direction: column;

  gap: 2rem;

  padding-block: 2rem;
}

.content {
  display: grid;

  grid-template-columns: minmax(0, 2fr) minmax(280px, 1fr);

  gap: 2rem;

  align-items: start;

  @include md {
    grid-template-columns: 1fr;
  }
}
