.page {
  width: min(1200px, 100%);
  margin-inline: auto;

  display: flex;
  flex-direction: column;

  gap: 2rem;

  padding-block: 2rem;
  padding-block-start: calc(72px + 2rem);

  @include md {
    padding-block-start: calc(64px + 2rem);
  }
}
