@use "./breakpoints" as *;

@mixin xl {
  @media (max-width: $breakpoint-xl) {
    @content;
  }
}

@mixin lg {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin md {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin sm {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    @content;
  }
}

@mixin container {
  width: min(1200px, 100%);
  margin-inline: auto;
  padding-inline: 1rem;
}
