.grid {
  display: grid;

  grid-template-columns: repeat(3, minmax(0, 1fr));

  gap: var(--space-6);

  min-height: 420px;
}

@include lg {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@include md {
  .grid {
    grid-template-columns: 1fr;

    min-height: 360px;
  }
}
